body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: .9em;
  background-color: rgb(228, 228, 228);
  color: #000000;
  line-height: 1.2em;
}

h1 {
  color: white;
  font-size: 4.5em;
  margin: 80px 0px;
  text-align: center;
  font-family: 'Pacifico', cursive;  letter-spacing: -3px;
  /* text-shadow: 3px 3px rgb(176, 132, 117); */
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-size: 1.2em;
  font-weight: 700;
}

a {
  color: rgb(165, 165, 165);
  text-decoration: none;
  padding: 5px;
  border-radius: 4px;
}

a:hover {
  color: darksalmon;
  text-decoration: underline;
  -webkit-transition: color .35s ease-out; -moz-transition: color .35s ease-out; transition: color .35s ease-out;
}

header {
  background-color: black;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  height: 100px;
  align-content: center;
}

#hours {
  margin: 30px;
}

main {
  width: 960px;
  margin: 150px auto;
  color: #000000;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: white;
  border: thin solid gray;
  border-radius: 5px;
  box-shadow: 0px 0px 5px gray;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

article {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  column-gap: 30px;
  padding-top: 40px;
  margin-bottom: 40px;
}

.home {
  width: 80%;
}

#familyImg, .fishImgs, .merchImgs {
  border: 1px solid gray;
  border-radius: 5px;
  box-shadow: 3px 3px 5px gray;
}

.fishImgs {
  height: 318px;
}

.merchImgs {
  height: 386px;
}

#locations {
  display: flex;
  flex-wrap: wrap;
}

#locations, h2 {
  margin: 10px 0px;
}

#locations, h3 {
  margin: 5px 0px;
}

#hours {
 margin-top: 47px;
}

div {
  text-align: center;
  align-content: center;
}

#salesTitle {
  color: black;
  margin: 40px 0px -20px 0px;
}

#salesPage {
  width: 960px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

table {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
}

th {
  padding: 2px;
  text-align: right;
  vertical-align: middle;
  font-weight: bold;
  width: 1px;
}

td {
  border: thin solid lightgray;
  padding: 5px;
  text-align: left;
}

#form {
  width: 100%;
  justify-content: left;
  padding: 0px 83px;
}

fieldset {
  margin-top:40px;
  border: thin solid lightgray;
  padding: 10px 15px 4px 15px;
  /* display: block; */
  width: 363px;
}

#add {
  color: black;
  margin: 5px;
}

legend {
  font-weight: bold;
}

input {
  display: block;
  margin: 2px 0px 8px 0px;
  width: 97%;
}

.number {
  width: 70px;
}

button {
  margin: 12px 16px 40px 16px;
  padding: 8px;
  background-color: black;
  color: white;
  font-size: 1.1em;
  text-transform: uppercase;
  border: none;
  border-radius: 4px;
  transition: 0.35s;
}

button:hover {
  background-color: darksalmon;
  color: black;
}

#chinook {
  margin-bottom: 40px;
}

.nav {
  margin-bottom: 40px;
}

footer {
  height: 100px;
  position: fixed;
  bottom: 0px;
  left: 0;
  right: 0;
  margin-bottom: 0px;
  background-color: black;
  color: white;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}