body {
  background-color: rgb(220, 216, 207);
  width: 80%;
  margin: 0px auto;
  display: block;
  font-size: .9em;
  color: #000000;
  line-height: 1.2em;
}

h1 {
  /* font-family: arial black; */
  color: rgb(176, 132, 117);
  font-size: 5.5em;
  text-transform: uppercase;
  margin: 80px 0px;
  text-align: center;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: -3px;
  text-shadow: 3px 3px rgb(84, 84, 84);
}

h2 {
  font-family: 'PT Sans Narrow', sans-serif;
  color: rgb(93, 98, 85);
  font-size: 2em;
  font-weight: 700;
  text-transform: uppercase;
  margin: 60px 0px 30px 0px;
}

h3 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: rgb(93, 98, 85);
  font-size: 1.2em;
  font-weight: 700;
  margin-bottom: 10px;
}

a {
  color: black;
}

a:hover {
  color: white;
  text-decoration: none;
  -webkit-transition: color .5s ease-out; -moz-transition: color .5s ease-out; transition: color .5s ease-out;
}

/* header {
  width: 100%;
  margin: 0px auto;
} */

main {
  width: 100%;
  margin: 0px auto;
  display: inline-block;
  font-family: Arial, Helvetica, sans-serif;
  color: #000000;
}

div {
  text-align: center;
}
article {
  width: 1100px;
  background-color: rgb(234, 234, 234);
  padding: 20px;
  margin: 20px;
  border-radius: 10px;
  border: 2px solid rgb(84, 84, 84);
  box-shadow: 5px 5px rgb(84, 84, 84);
}

table {
  border-collapse: collapse;
  width: 1100px;
  display: inline-block;
}

th {
  padding: 5.7px;
  text-align: left;
  vertical-align: middle;
  font-weight: bold;
  width: 20px;
}

td {
  border: thin solid lightgray;
  padding: 7px;
  text-align: left;
  width: 67px;
}

span {
  width: 50px;
  display: inline-block;
}

p {
  margin: 20px;
}